:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", san-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: #f9f7fe;
  padding: 160px 20px;
  text-align: center;
}

.hero p {
  color: #272142;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  color: #272142;
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

.btn-branding {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 10px;
}

.btn-branding-outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 10px;
}

.project-description {
  padding: 100px 60px;
  vertical-align: middle;
}
